*{
    padding: 0px;
    margin: 0px;
}

div{
    display: flex;
}

.fundoAzul{
    background-color: blue;
    width: 100%;
    height: 100%;
}

.fundoAmarelo{
    background-color: yellow;
    width: 100%;
    height: 100%;
}

.blocoAmarelo{
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.blocoAzul{
    background-color: blue;
    width: 100px;
    height: 100px;
}